<section id="about" class="section align-center">
  <div class="container">
    <div class="col-sm-6 align-center img-column">
      <img src="/images/conference-371x412.png" alt="" />
    </div>
    <div class="col-sm-6 align-left">
      <article style="">
        <h3>Meet the Community and Find Inspiration</h3>
        <p>
          <small class="text-alt">
            Three days of focused opportunities for <span class="highlight">learning</span>
            and <span class="highlight">networking</span>.
          </small>
        </p>
        <p>
          DevConf is one of Poland's premier annual conferences dedicated to
          software development. It's based on principles we believe are the
          success factors of an ultimate conference experience. Regardless of
          technology, we strive to spark <span class="highlight">inspiration</span>
          by exchanging ideas. We facilitate <span class="highlight">learning</span>
          as a process occurring at talks and during informal conversations.
          Knowing that great sessions are not enough we're also eager to provide
          excellent <span class="highlight">networking opportunities</span>.
          People and interactions are what we value the most.
        </p>
      </article>
    </div>
  </div>
</section>
