<section id="counters" class="section align-center overlay overlay-clr bg-cover bg5 light-text">
  <div class="container">

    <div class="row counters-wrapper">
      <% data.general.counters.each do |counter| %>
        <div class="col-sm-3">
          <div class="counter-block counter-block-no-border">
            <div class="counter-box">
              <div class="counter-content">
                <% content_tag :span, :class => "count", :"data-from" => "0", :"data-to" => counter.value do %>
                  0
                <% end %>
                <% content_tag :p, :class => "title" do %>
                  <%= counter.name %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
