<section class="footer">
  <div class="container">
    <div class="col-md-4">
      <div class="widget about-widget">
        <h6 class="widget-head">
          About <span class="highlight">DevConf</span>
        </h6>
        <p class="text-alt">
          <small>From the very beginning we've been focused on people, not on companies. Being developers ourselves we thrive to provide the ultimate experience that will be remembered. We'd like to connect awesome speakers with the willing-to-learn-and-share community. It's not only about sessions - it's also about meeting with like-minded people - it can result in great ideas, is that right?</small>
        </p>
        <p>
          <span class="highlight">DevConf</span> Team
        </p>
      </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
      <div class="widget about-widget">
        <h6 class="widget-head">
          Organizer
        </h6>
        <p class="text-alt">
          <small>Grzegorz Duda Developers World</small></br>
          <small>ul. Wielicka 91/4</small></br>
          <small>30-552 Krakow, Poland</small></br>
          <small>VAT ID/NIP: PL679-253-66-46</small></br>
          <small>Registration Number/Regon: 120770736</small></br>
        </p>
      </div>
    </div>
  </div>

  <div class="footer-base">
    <div class="container">
      <div class="col-md-6">
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="mailto:contact@devconf.pl">Contact</a></li>
          <li class="footer-nav-item"><a href="/coc">Code of Conduct</a></li>
        </ul>
      </div>

      <div class="col-md-6 align-right">
        <ul class="socials-nav align-right">
          <li class="socials-nav-item"><a href="https://twitter.com/devconfpl"><span class="fa fa-twitter"></span></a></li>
          <li class="socials-nav-item"><a href="https://www.facebook.com/devconfpl"><span class="fa fa-facebook"></span></a></li>
          <li class="socials-nav-item"><a href="https://www.flickr.com/photos/151642418@N02/"><span class="fa fa-flickr"></span></a></li>
          <li class="socials-nav-item"><a href="https://www.youtube.com/channel/UCXp2tbIOcFe0WP1OaoREmWA"><span class="fa fa-youtube"></span></a></li>
        </ul>
        <p class="text-alt"><small>All Rights Reserved © 2018</small></p>
      </div>
    </div>
  </div>
</section>
