<section id="gallery" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-badges-votes-01"></span>
    <h3>Previous events</h3>
    <p class="text-alt">see what we did <span class="highlight">in the past</span></p>
    <p>Take a look at <a href="http://2017.devconf.pl/">DevConf 2017 website</a> or check out <a href="https://www.flickr.com/photos/151642418@N02/albums/72157685575744212">the full gallery</a>.</p>
    <br/>

    <div class="gallery masonry">
      <% data.general.gallery_size.times do |n| %>
        <span class="masonry-item">
          <a href="#" class="gallery-thumb-link" data-modal-link="gallery-<%= (n + 1).to_s() %>">
            <%= image_tag '/images/gallery/gallery' + (n + 1).to_s() + '-thumb.jpg' %>
          </a>
          <div class="modal-window" data-modal="gallery-<%= (n + 1).to_s() %>">
            <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
              <span class="close-btn icon icon-office-52"></span>

              <%= tag :img,
                      :src => '/images/gallery/gallery' + (n + 1).to_s() + '.jpg',
                      :alt => 'gallery' + (n + 1).to_s(),
                      :class => 'full-width-img' %>
            </div>
          </div>
        </span>
      <% end %>
    </div>

  </div>
</section>
