<section id="location">
  <div class="contacts-wrapper">
    <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

    <div class="container contacts-on-map-container">
      <div class="contacts-on-map">
        <h3>Location</h3>

        <ul class="list">
          <li><i class="fa fa-map-marker"></i>Multikino, Dobrego Pasterza 128, Kraków, Poland</li>
          <li><i class="fa fa-envelope"></i>contact@devconf.pl</li>
        </ul>
      </div>
    </div>
  </div>
</section>
