<section id="sign_up" class="section bg-cover overlay overlay-clr bg4 light-text align-center">
  <div class="container">
    <h2><span class="highlight">Newsletter</span> Sign Up</h2>
    <small>No Spam - Only latest news, price and activity updates</small>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form id="subscribe_main" action="https://tinyletter.com/devconf" role="form" accept-charset="utf-8" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/devconf', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="form row newsletter-form mailchimp-form">
        <fieldset class="col-sm-8">
          <input id="tlemail" name="email" type="email" placeholder="email@email.com" class="semail">
        </fieldset>
        <fieldset class="col-sm-4">
          <input type="submit" value="submit" class="btn btn-sm btn-outline-clr sbtn">
        </fieldset>
        <div class="response"></div>
      </form>
    </div>
  </div>
</section>
