<section id="schedule" class="section schedule-section align-center" style="padding-top: 0;">
  <div class="container">
    <span class="icon section-icon icon-office-21"></span>
    <h3>Schedule</h3>
    <p class="text-alt">Speeches and <span class="highlight">activities</span></p>
    <p>The schedule is under construction and is going to be announced shortly!</a>

    <br />
    <br />
  </div>
</section>
