<section id="speakers" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-faces-users-04"></span>
    <h3>Speakers</h3>
    <p class="text-alt">Meet our <span class="highlight">professionals</span></p>
    <p>More speakers to be revealed in coming weeks.</p>

    <br />
    <br />

    <% data.speakers.items.sort_by(&:surname).each do |s| %>
      <%= partial(:speaker, :locals => { :speaker => s }) %>
    <% end %>

    <p>
      There are still more speakers to be announced. Watch us to get updates!
    </p>
  </div>
</section>
