<section id="sponsors" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h3>Sponsors</h3>
    <p class="text-alt">companies that <span class="highlight">support</span> us</p>
    <p>If you or your company would like to reserve your spot as a sponsor, <a href="mailto:contact@devconf.pl?subject=Sponsor Enquiry">contact us</a> because we might have a good deal for you.</p>
</section>
