<section id="sponsors" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h3>Sponsors</h3>
    <p class="text-alt">companies that <span class="highlight">support</span> us</p>
    <p>If you or your company would like to reserve your spot as a sponsor, <a href="mailto:contact@devconf.pl?subject=Sponsor Enquiry">contact us</a> because we might have a good deal for you.</p>

    <br/>

    <h3>Platinum</h3>
    <div class="sponsors">
      <div class="sponsor big"><a href="http://new.abb.com/pl"><img src="images/sponsors/abb.png" alt=""></a></div>
    </div>

    <h3>Gold</h3>
    <div class="sponsors">
    </div>

    <h3>Silver</h3>
    <div class="sponsors">
    </div>

    <h3>Virtual</h3>
    <div class="sponsors">
    </div>

    <h3>Community Partners</h3>
    <p class="text-alt">communities <span class="highlight">love</span></p>

    <div class="sponsors">
      <div class="sponsor inline">
        <a href="https://www.meetup.com/%C5%9Al%C4%85ska-Grupa-Microsoft-Meetup/"><img src="/images/partners/sgms.png" alt="" style="width: 150px;"></a>
      </div>
      <div class="sponsor inline">
        <a href="http://devwarsztaty.pl/"><img src="/images/partners/devwarsztaty.jpg" alt="" style="width: 150px;"></a>
      </div>
      <div class="sponsor inline">
        <a href="http://wrocnet.github.io"><img src="/images/partners/wroc_net.png" alt="" style="width: 150px;"></a>
      </div>
      <div class="sponsor inline">
        <a href="https://devstyle.pl"><img src="/images/partners/devstyle.png" alt="" style="width: 150px;"></a>
      </div>
    </div>
    <div class="sponsors">
      <div class="sponsor inline">
        <a href="https://www.meetup.com/rg-dev/"><img src="/images/partners/rg_dev.png" alt="" style="width: 150px;"></a>
      </div>
      <div class="sponsor inline">
        <a href="https://www.meetup.com/KGD-NET/"><img src="/images/partners/kgd_net.png" alt="" style="width: 150px;"></a>
      </div>
      <div class="sponsor inline">
        <a href="https://ostrapila.pl/"><img src="/images/partners/ostra_pila.png" alt="" style="width: 150px;"></a>
      </div>
    </div>

</section>
