<section id="tickets" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-shopping-04"></span>
    <h3>Tickets</h3>
    <p class="text-alt">Get yours while they are still <span class="highlight">available</span></p>
    <p class="text-alt">*All prices listed do not include 23% VAT.</p>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-6">
        <div class="package-panel panel-inactive">
          <h6 class="package-title">Conference Blind Bird</h6>
          <div class="package-detail">
            <ul>
              <li><span class="fa fa-check check-icon"></span>2 full days of the conference (27-28th Sept)</li>
              <li><span class="fa fa-check check-icon"></span>Available before May 2018</li>
            </ul>
          </div>
          <span class="buy-btn">
            <div class="centered">
              <div class="price">399<span class="currency">pln</span>*</div>
              <h6 class="heading-alt">Sold out</h6>
            </div>
          </span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="package-panel panel-inactive">
          <h6 class="package-title">Conference Early Bird</h6>
          <div class="package-detail">
            <ul>
              <li><span class="fa fa-check check-icon"></span>2 full days of the conference (27-28th Sept)</li>
              <li><span class="fa fa-check check-icon"></span>Available before June 2018</li>
            </ul>
          </div>
          <span class="buy-btn">
            <div class="centered">
              <div class="price">499<span class="currency">pln</span>*</div>
              <h6 class="heading-alt">Sold out</h6>
            </div>
          </span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="package-panel">
          <h6 class="package-title">Conference Regular</h6>
          <div class="package-detail">
            <ul>
              <li><span class="fa fa-check check-icon"></span>2 full days of the conference (27-28th Sept)</li>
              <li><span class="fa fa-check check-icon"></span>Available before September 2018</li>
            </ul>
          </div>
          <a href="http://reg.devconf.pl/" class="buy-btn">
            <div class="centered">
              <div class="price">699<span class="currency">pln</span>*</div>
              <h6 class="heading-alt">Buy now</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="package-panel panel-inactive">
          <h6 class="package-title">Conference Late Bird</h6>
          <div class="package-detail">
            <ul>
              <li><span class="fa fa-check check-icon"></span>2 full days of the conference (27-28th Sept)</li>
              <li><span class="fa fa-check check-icon"></span>Available from September 2018</li>
            </ul>
          </div>
          <span class="buy-btn">
            <div class="centered">
              <div class="price">899<span class="currency">pln</span>*</div>
              <h6 class="heading-alt">Not available yet</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-offset-3 col-sm-6">
        <div class="package-panel">
          <h6 class="package-title">Workshops</h6>
          <div class="package-detail">
            <ul>
              <li><span class="fa fa-check check-icon"></span>1 full day of a chosen workshop (26th Sept)</li>
            </ul>
          </div>
          <a href="http://reg.devconf.pl/" class="buy-btn">
            <div class="centered">
              <div class="price">1199<span class="currency">pln</span>*</div>
              <h6 class="heading-alt">Buy now</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
