<section id="workshops" class="section align-center" style="padding-top: 0;">
  <div class="container">
    <span class="icon section-icon icon-education-science-13"></span>
    <h3>Workshops</h3>
    <p class="text-alt">Do you want to go <span class="highlight">really deep into the subject?</span></p>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="col-sm-6 align-right" style="padding-top: 20px;">
      <article style="max-width: 480px;">
        <h3 style="font-size: 30px;">Identity & Access Control for Modern Apps and APIs Using ASP.NET Core 2</h3>
        <p><small class="text-alt">Dominick Baier</small></p>
        <p>Modern application design has changed quite a bit in recent years. “Mobile-first” and “Cloud-ready” are the types of applications you are expected to develop. To keep pace with these developments, Microsoft has revamped their complete web stack with ASP.NET Core to meet these architectural demands. Needless to say, you also have to secure these apps. This one-day workshop is a whirlwind tour through the authentication, authorisation and data protection system of ASP.NET Core 2. You will learn how to authenticate users and machines, how to secure APIs, and how to connect various front-ends to these secured APIs.</p>
      </article>
    </div>
    <div class="col-sm-6 align-center img-column">
      <img src="/images/workshops/identity_and_access_control.png" alt="">
    </div>
  </div>
</section>
