<section id="workshops" class="section align-center" style="padding-top: 0;">
  <div class="container">
    <span class="icon section-icon icon-education-science-13"></span>
    <h3>Workshops</h3>
    <p class="text-alt">Do you want to go <span class="highlight">really deep into the subject?</span></p>
    <p>Some attendees visit us also for a bit more in-depth and hands-on knowledge. To respond to the expectation, we organize workshops a day before the conference. Tickets are being sold separately, regardless of the conference ones.</p>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="col-sm-6 align-center img-column">
      <img src="/images/workshops/identity_and_access_control.png" alt="">
    </div>
    <div class="col-sm-6 align-left" style="padding-top: 20px;">
      <article style="max-width: 480px;">
        <h3 style="font-size: 30px;">Identity & Access Control for Modern Apps and APIs Using ASP.NET Core 2</h3>
        <p><small class="text-alt">Dominick Baier</small></p>
        <p>Modern application design has changed quite a bit in recent years. “Mobile-first” and “Cloud-ready” are the types of applications you are expected to develop. To keep pace with these developments, Microsoft has revamped their complete web stack with ASP.NET Core to meet these architectural demands. Needless to say, you also have to secure these apps. This one-day workshop is a whirlwind tour through the authentication, authorisation and data protection system of ASP.NET Core 2. You will learn how to authenticate users and machines, how to secure APIs, and how to connect various front-ends to these secured APIs.</p>
      </article>
    </div>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="col-sm-6 align-right" style="padding-top: 20px;">
      <article style="max-width: 480px;">
        <h3 style="font-size: 30px;">Building Single Page Apps Using React and ES6</h3>
        <p><small class="text-alt">Spencer Schneidenbach</small></p>
        <p>In this hands-on workshop, Spencer will go through the basics of creating a single-page application using React as the view framework. We’ll discuss the basics of React components, what JSX is and how to use it, best practices around using the component model, how to manage state inside of your application, component routing, component hierarchy, and finally discuss the basics of Redux and how it fits with React.</p>
      </article>
    </div>
    <div class="col-sm-6 align-center img-column">
      <img src="/images/workshops/building_single_page_apps.png" alt="">
    </div>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="col-sm-6 align-center img-column">
      <img src="/images/workshops/introduction_to_kubernetes.png" alt="">
    </div>
    <div class="col-sm-6 align-left" style="padding-top: 20px;">
      <article style="max-width: 480px;">
        <h3 style="font-size: 30px;">Introduction to Kubernetes</h3>
        <p><small class="text-alt">Piotr Stapp, Jakub Gutkowski</small></p>
        <p>Building Cloud Native application is a thing now. Everyone talks about it, everyone wants to do it. Thanks to organizations like Cloud Native Computing Foundation (CNCF) and new tools coming out every month, Cloud Native is starting to be reality not just an idea.</p>
        <p>Now all we need to do is to catch up! And the best way to start catching up is to learn about Kubernetes – first tool that came out from CNCF. Kubernetes is a new way of orchestrating containers, helping developers concentrate on the code, not on the ops.</p>
        <p>During a workshop you will learn why you should consider Kubernetes as your next tool in your pipeline. Then we will go through basic concepts of Kubernetes and problems that it solves. And we will finish day with advanced subjects like deployments and diagnostics.</p>
      </article>
    </div>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="col-sm-6 align-right" style="padding-top: 20px;">
      <article style="max-width: 480px;">
        <h3 style="font-size: 30px;">Serverless in Microsoft Azure</h3>
        <p><small class="text-alt">Michał Jankowski</small></p>
        <p>Serverless architecture has changed our approach to software development. Imagine that you can build an application. Then deploy it and have the possibility to scale it up without any server managing task. It sounds like a dream, but with the serverless approach, this idea is possible.</p>
        <p>However, can you do it correctly? You can find much information that is describing what you can gain with this approach and how easy is to build the serverless application. It is not always true. In most cases, you need to consider a lot of different elements and it makes developing serverless application more complicated.</p>
        <p>During this workshop, you will learn how to use Azure platform to build backend of your application using Microsoft Azure serverless components. Moreover, you will help entrepreneur that would like to settle a new business. You as a technical person will need to help him and provide a prototype of solution that will verify his idea. Then you will need to refactor it to the final solution.</p>
      </article>
    </div>
    <div class="col-sm-6 align-center img-column">
      <img src="/images/workshops/serverless_in_microsoft_azure.png" alt="">
    </div>
  </div>
</section>
