<section id="workshops" class="section align-center" style="padding-top: 0;">
  <div class="container">
    <span class="icon section-icon icon-education-science-13"></span>
    <h3>Workshops</h3>
    <p class="text-alt">Do you want to go <span class="highlight">really deep into the subject?</span></p>
    <p>
      Some attendees visit us also for a bit more in-depth and hands-on
      knowledge. To respond to the expectation, we usually organize some
      workshops a day before the conference. We're going to announce workshops soon,
      and tickets are going to be sold separately, regardless of the conference one.
    </p>
  </div>
</section>
